@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #252839;
}

.year{
    position: relative;
    display: flex;
    gap: 30px;
}

.year span{
    position: relative;
    width: 120px;
    height: 120px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25)
}

.year span b{
    font-size: 6em;
    font-weight: 700;
    -webkit-text-stroke: 2px var(--clr);
    color: transparent;
}